/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Pacifico&display=swap&subset=korean");

h2,
h3,
p {
  font-family: "Noto Sans KR", sans-serif;
}

/* Animation */
@keyframes rolling {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-40%);
  }
  75% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-80%);
  }
}

/* CSS Reset */

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: normal;
}

body {
  background-color: #111;
  color: #999;
}

a {
  color: inherit;
  text-decoration: none;
}

.portrait {
  background-image: url(images/profile.png);
  background-size: cover;
  background-position: center;
  padding-top: 56.25%; /* 16:9 */
}

.profile {
  padding: 7%;
}

.profile-header,
.profile-section {
  padding-bottom: 14%;
}

/* profile header */

.name {
  font-size: 30px;
  line-height: 2.5;
  font-style: italic;
  margin-bottom: 40px;
  font-family: "Pacifico", cursive;
}

.name-job {
  display: inline-block;
  /* background-color: palevioletred; */
  color: white;
  vertical-align: top;
  height: 2.5em;
  overflow: hidden;
  padding-right: 0.5em;
  position: relative;
}

.name-job::after {
  content: " ";
  /* background-color: red; */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: -1em;
  box-shadow: inset 0 0 10px 10px #111;
}

.name-job-list {
  animation-name: rolling;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.name-title {
  font-size: 2em;
  line-height: 0.8;
  color: deeppink;
  margin-left: -0.3em;
  position: relative;
}

/* icons */

.icons {
  margin: 30px 0;
}

.icons a {
  background-image: url(images/icons.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -999px;
}

.icons a.twitter {
  background-position: left top;
}
.icons a.facebook {
  background-position: center top;
}
.icons a.pinterest {
  background-position: right top;
}

.icons a:hover {
  background-position-y: bottom;
}

/* Sections */
.profile-section h2 {
  border-top: 3px solid;
  color: palevioletred;
  margin-bottom: 20px;
  padding: 0.5em 0;
}

.timeline {
  font-size: 0.7rem;
  color: #666;
}

.timeline li {
  padding-bottom: 30px;
}

.timeline li:last-child {
  padding-bottom: 0;
}

.timeline li h3 {
  color: plum;
  float: left;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding-top: 0.1em;
  margin-top: 0.2em;
  margin-right: 0.5em;
  border-top: 2px solid;
}
