/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Pacifico&display=swap&subset=korean");

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

h2,
h3,
p {
  font-family: "Noto Sans KR", sans-serif;
}

/* Animation */
@keyframes rolling {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-40%);
  }
  75% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-80%);
  }
}

/* CSS Reset */

body,
h1,
h2,
h3,
p,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: normal;
}

body {
  background-color: #111;
  color: #999;
}

a {
  color: inherit;
  text-decoration: none;
}

.portrait {
  background-image: url(images/profile.png);
  background-size: cover;
  background-position: center;
  padding-top: 56.25%; /* 16:9 */
}

.profile {
  padding: 5%;
}

.profile-header,
.profile-section {
  padding-bottom: 7%;
}

/* profile header */

.name {
  font-size: 30px;
  line-height: 2.5;
  font-style: italic;
  margin-bottom: 40px;
  font-family: "Pacifico", cursive;
  position: sticky;
  top: -2.4em;
  background-color: #111;
  box-shadow: 0 0 50px 10px #111;
}

.name-job {
  display: inline-block;
  color: white;
  vertical-align: top;
  height: 2.5em;
  overflow: hidden;
  padding-right: 0.5em;
  position: relative;
}

.name-job::after {
  content: " ";
  /* background-color: red; */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: -1em;
  box-shadow: inset 0 0 10px 10px #111;
}

.name-job-list {
  animation-name: rolling;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.name-title {
  font-size: 2em;
  line-height: 1;
  color: deeppink;
  margin-left: -0.3em;
  position: relative;
}

.profile-description {
  font-family: NeoDunggeunmo, "Noto Sans KR", sans-serif;
  word-break: keep-all;
  line-height: 1.5;
}

/* icons */

.icons {
  margin: 30px 0;
}

.icons a {
  background-image: url(images/icons.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -999px;
}

.icons a.twitter {
  background-position: left top;
}
.icons a.facebook {
  background-position: center top;
}
.icons a.pinterest {
  background-position: right top;
}

.icons a:hover {
  background-position-y: bottom;
}

/* Sections */
.profile-section h2 {
  font-size: 1.5em;
  border-top: 3px solid;
  color: palevioletred;
  margin-bottom: 20px;
  padding: 0.5em 0;
  position: sticky;
  top: 0;
  background-color: #111;
  box-shadow: 0 0 50px 10px #111;
}

.timeline {
  font-size: 0.7rem;
  color: #666;
}

.timeline li {
  padding-bottom: 30px;
}

.timeline li:last-child {
  padding-bottom: 0;
}

.timeline li h3 {
  color: plum;
  float: left;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding-top: 0.1em;
  margin-top: 0.2em;
  margin-right: 0.5em;
  border-top: 2px solid;
}

.graph li {
  background: rgb(177, 129, 213);
  background: linear-gradient(
    90deg,
    rgba(177, 129, 213, 1) 0%,
    rgba(121, 9, 107, 1) 0%,
    rgba(63, 86, 255, 1) 100%
  );
  color: #dff;
  padding: 0.5em 1em;
  margin: 0.4em 0;
  border-radius: 50px;
  box-sizing: border-box;
}

.graph li::before {
  content: attr(data-score);
  float: right;
}

.graph li[data-score="100%"] {
  width: 100%;
}
.graph li[data-score="90%"] {
  width: 90%;
}
.graph li[data-score="80%"] {
  width: 80%;
}
.graph li[data-score="70%"] {
  width: 70%;
}
.graph li[data-score="60%"] {
  width: 60%;
}

.list dt {
  color: palevioletred;
  float: left;
  width: 4em;
}

.list dd {
  overflow: hidden;
}

@media (min-width: 768px) {
  .portrait {
    position: fixed;
    left: 0;
    top: 0;
    width: 55vw;
    height: 100vh;
    padding: 0;
  }

  .profile {
    margin-left: 55vw;
  }

  .timeline {
    margin: 0 -10px;
  }

  .timeline li {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .timeline li:nth-child(even) {
    margin-left: auto;
    margin-top: -50px;
  }
}
